
<div class="about-ajax-page">
  <div class="mask"></div>
  <div class="about-ajax-page_wrap">
    <div class="about-ajax-page_content"><a class="close-btn" href="#"></a>
      <div class="doctor-cover">
        <div class="img" style="background: url(../../assets/images/about/boss.png)"></div>
        <div class="describe">
          <h3 class="title">
            <p class="name c_title-m">賴慶鴻 醫師</p>
          </h3>
          <ul class="experience-list">
            <li class="experience-list_item">- 台大醫學院醫學士</li>
            <li class="experience-list_item">- 中華民國專科醫師</li>
            <li class="experience-list_item">- 慈濟醫學中心皮膚科醫師</li>
            <li class="experience-list_item">- 彤顏皮膚醫學美容中心院長</li>
          </ul>
        </div>
      </div><span class="line"></span>
      <div class="doctor-expertise"><span class="title">醫師專長</span><span class="list">美容項目：</span>
        <ul class="menu-list">
          <li class="menu-list_item"><span class="number">1.</span>
            <p> 雙眼皮手術及眼眸放大(3D提眼肌手術)</p>
          </li>
          <li class="menu-list_item"><span class="number">2.</span>
            <p> 三段韓式全開式隆鼻手術</p>
          </li>
          <li class="menu-list_item"><span class="number">3.</span>
            <p> 乳房美容: HD全內視鏡果凍隆乳手術、乳頭(暈)整形</p>
          </li>
          <li class="menu-list_item"><span class="number">4.</span>
            <p> 各部位抽脂體雕，ULTRA-Z超音波馬甲線六塊肌雕塑Hi-Def. body sculpturing</p>
          </li>
          <li class="menu-list_item"><span class="number">5.</span>
            <p> 顏面雕塑(韓式V-Line小臉削骨，縮唇等)</p>
          </li>
          <li class="menu-list_item"><span class="number">6.</span>
            <p> 內視鏡前額集中臉、腹部拉皮手術</p>
          </li>
          <li class="menu-list_item"><span class="number">7.</span>
            <p> 狐臭治療、修疤手術(含蟹足腫治療)</p>
          </li>
          <li class="menu-list_item"><span class="number">8.</span>
            <p> 各項微整形注射、線性拉提及埋線回春、各項雷射治療。<br/>重建項目：手外科、顱顏面重建、困難傷口治療(糖尿病足、壓瘡等)，燒燙傷重症加護、顯微皮瓣手術。</p>
          </li>
        </ul>
        <p>重建項目：手外科、顱顏面重建、困難傷口治療(糖尿病足、壓瘡等)，燒燙傷重症加護、顯微皮瓣手術。</p>
      </div>
    </div>
  </div>
</div>