<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>百點創意行銷</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap"/>
    <link rel="stylesheet" href="../../assets/stylesheets/all.css"/>
  </head>
  <body>
    <div id="particles-js"></div>
    <header class="header">
      <h2 class="header_logo"><a href="../index/index.html"> <img src="../../assets/images/logo-icon.svg" alt=""/>
          <h2>百典創意行銷</h2></a></h2>
      <div class="header_menu-btn js-headerMenuBtn"><span class="txt">CLOSE</span>
        <div class="c_hamburger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
      <nav class="header_menu_wrap">
        <ul class="header_nav">
          <li class="header_nav_item js-menu-home gs-header-menu-item"><a href="../index/index.html">home</a></li>
          <li class="header_nav_item js-menu-about gs-header-menu-item"><a href="../about/about.html">ABOUT US</a></li>
          <li class="header_nav_item js-menu-service gs-header-menu-item"><a href="../service/service.html">SERVICE</a></li>
          <li class="header_nav_item js-menu-news gs-header-menu-item"><a href="../news/news.html">NEWS</a></li>
          <li class="header_nav_item js-menu-contact gs-header-menu-item"><a href="../contact/contact.html">CONTACT</a></li>
        </ul>
      </nav>
      <div class="scrollDown js-scrollDown">
        <p>SCROLL DOWN</p>
      </div>
    </header>
    <main class="home">
      <div class="home_wrap">
        <div class="home_banner">
          <div class="home_banner_title">
            <h1 class="gs-home-banner-title">Bizconcier</h1>
            <p class="copy"><span class="first gs-home-banner-copy-text">THE VALUE BETWEEN</span><span class="underline gs-home-banner-copy-text"></span><span class="and gs-home-banner-copy-text">AND</span><span class="underline gs-home-banner-copy-text"></span><span class="period gs-home-banner-copy-text">.</span></p>
          </div>
          <div class="home_banner_mean">
            <p class="word gs-home-banner-word">CONCIERGE</p>
            <p class="desc gs-home-banner-desc">
              宿泊客のあらゆる要望に応える総合世話係「コンシェルジュ」</br>本来は「集合住宅の管理人」を意味する言葉でした。</br>
              Bizconcierは"つながり"を通じた価値をパートナーとお客様に届けます。
            </p>
          </div>
        </div>
        <section class="home_about c_section-bg">
          <div class="l_container">
            <div class="home_section_title_group">
              <div class="c_dash-title gs-home-about-title"><span>ABOUT US</span></div>
              <p class="home_section_title_slogan gs-home-about-title"><span>MAXIMIZE   </span><span>THE </span><span>VALUE</span><span>OF</span><span>THE</span><span>CONNECTION.</span></p>
            </div>
            <div class="home_about_img">
              <div class="c_page-img gs-home-about-content">
                <picture>
                  <source srcset="https://bizconcier.co.jp/wp2018/wp-content/themes/bizconcier/assets/images/about-main-img-pc.jpg?_=q8g55q" media="(min-width: 768px)"/>
                  <source srcset="https://bizconcier.co.jp/wp2018/wp-content/themes/bizconcier/assets/images/about-main-img-sp.jpg?_=q8g55q" media="(max-width: 767px)"/><img class="img-item" src="https://bizconcier.co.jp/wp2018/wp-content/themes/bizconcier/assets/images/about-main-img-pc.jpg?_=q8g55q" alt=""/>
                </picture>
              </div>
            </div>
            <div class="home_about_content gs-home-about-content">
              <h3 class="title">
                つながりの価値を、<br class="u_show-pc">
                最大化する。
              </h3>
              <div class="body">
                <p>つながりによって生まれる価値の最大化こそがBizconcierのミッションです。Bizconcierは多彩なパートナーとお客様とのつながりを紡ぐことでビジネスの新しいストーリーを作り出します。</p>
              </div>
            </div>
            <div class="home_section_button gs-home-about-content"><a class="c_link-button" href="../about/about.html"><span>企業概要</span><span class="c_icon"><span class="c_circle"></span></span></a></div>
          </div>
        </section>
        <section class="home_service c_section-bg left">
          <div class="l_container">
            <div class="home_section_title_group">
              <div class="c_dash-title gs-home-service-title"><span>SERVICE</span></div>
              <p class="home_section_title_slogan gs-home-service-title"><span>SPECIALIZED   </span><span>TEAM</span><span>TO</span><br class="u_show-pc"/><span>SOLVE</span><span>VARIOUS</span><span>ISSUES</span></p>
            </div>
            <div class="home_service_text gs-home-service-title">
              <p>職能別コンサルティングや事業開発、お客様のゲームビジネスに必要なバリューチェーンの構築の提案など、"つながり"によって生み出される有機的なチーム編成をもってお客様の課題を解決します。</p>
            </div>
            <div class="home_service_content">
              <ul class="item-list gs-home-service-content">
                <li class="item">
                  <div class="img"><img src="https://bizconcier.co.jp/wp2018/wp-content/themes/bizconcier/assets/images/top-service-img-1.png?_=q8g55q" alt=""/></div>
                  <div class="txt">
                    <p class="txt-en">CONSULTING</p>
                    <p class="txt-ch">事業開発</p>
                  </div><span class="shadow"></span>
                </li>
                <li class="item">
                  <div class="img"><img src="https://bizconcier.co.jp/wp2018/wp-content/themes/bizconcier/assets/images/top-service-img-1.png?_=q8g55q" alt=""/></div>
                  <div class="txt">
                    <p class="txt-en">CONSULTING</p>
                    <p class="txt-ch">事業開発</p>
                  </div><span class="shadow"></span>
                </li>
                <li class="item">
                  <div class="img"><img src="https://bizconcier.co.jp/wp2018/wp-content/themes/bizconcier/assets/images/top-service-img-1.png?_=q8g55q" alt=""/></div>
                  <div class="txt">
                    <p class="txt-en">CONSULTING</p>
                    <p class="txt-ch">事業開発</p>
                  </div><span class="shadow"></span>
                </li>
              </ul>
            </div>
            <div class="home_section_button gs-home-service-content"><a class="c_link-button" href="../service/service.html"><span>事業內容</span><span class="c_icon"><span class="c_circle"></span></span></a></div>
          </div>
        </section>
        <section class="home_and">
          <p><span class="first gs-home-ad-first">THE VALUE BETWEEN</span><span class="second gs-home-ad-second">SALES AND GOOD</span></p>
        </section>
      </div>
    </main>
    <footer class="footer">
      <div class="footer_top js-scrollTop"><a href="#"><span class="txt">BACK TO TOP</span><span class="c_icon"><span class="c_circle"></span></span></a></div>
      <section class="footer_news">
        <div class="news-first">
          <h2 class="title">LATEST NEWS</h2>
          <div class="news-title">
            <time>2020-01-15</time><span>PRESS RELEASE</span>
          </div>
        </div>
        <div class="news-link"><a href="../news/news.html">竹書房とBizconcier、デジタルコンテンツ事業の合弁会社を設立</a></div>
        <div class="more-btn"><a href="../news/news.html"><span class="text">MORE</span><span class="c_icon"><span class="c_circle"></span></span></a></div>
      </section>
      <nav>
        <ul class="footer_nav">
          <li class="footer_nav_item js-menu-home"><a href="../index/index.html">home</a></li>
          <li class="footer_nav_item js-menu-about"><a href="../about/about.html">ABOUT US</a></li>
          <li class="footer_nav_item js-menu-service"><a href="../service/service.html">SERVICE</a></li>
          <li class="footer_nav_item js-menu-news"><a href="../news/news.html">NEWS</a></li>
          <li class="footer_nav_item js-menu-contact"><a href="../contact/contact.html">CONTACT</a></li>
        </ul>
      </nav>
      <div class="footer_logo"><a href="#"> <img src="../../assets/images/logo-icon.svg" alt=""/>
          <p>百典創意行銷</p></a></div>
      <p class="footer_address">
         桃園市中壢區龍勇路42巷8弄2號</p><small class="footer_copyright">Copyright @Bizconcier All Rights Reserved.</small>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../assets/javascripts/all.js"></script>
  </body>
</html>