<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>百點創意行銷</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap"/>
    <link rel="stylesheet" href="../../assets/stylesheets/all.css"/>
  </head>
  <body>
    <header class="header">
      <h2 class="header_logo"><a href="../index/index.html"> <img src="../../assets/images/logo-icon.svg" alt=""/>
          <h2>百典創意行銷</h2></a></h2>
      <div class="header_menu-btn js-headerMenuBtn"><span class="txt">CLOSE</span>
        <div class="c_hamburger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
      <nav class="header_menu_wrap">
        <ul class="header_nav">
          <li class="header_nav_item js-menu-home gs-header-menu-item"><a href="../index/index.html">home</a></li>
          <li class="header_nav_item js-menu-about gs-header-menu-item"><a href="../about/about.html">ABOUT US</a></li>
          <li class="header_nav_item js-menu-service gs-header-menu-item"><a href="../service/service.html">SERVICE</a></li>
          <li class="header_nav_item js-menu-news gs-header-menu-item"><a href="../news/news.html">NEWS</a></li>
          <li class="header_nav_item js-menu-contact gs-header-menu-item"><a href="../contact/contact.html">CONTACT</a></li>
        </ul>
      </nav>
      <div class="scrollDown js-scrollDown">
        <p>SCROLL DOWN</p>
      </div>
    </header>
    <main class="service">
      <div class="service_wrap l_page-space">
        <div class="service_title">
          <div class="l_container">
            <div class="c_page-title-group">
              <div class="c_dash-title double gs-page-title-group-title"><span class="en gs-page-title-group-title">SERVICE</span><span class="ch gs-page-title-group-title">事業內容</span></div>
              <ul class="c_link-list">
                <li class="c_link js-scroll-section gs-page-title-menu" data-section="consulting"><a href="#"><span class="no">01</span><span class="txt">CONSULTING</span></a></li>
                <li class="c_link js-scroll-section gs-page-title-menu" data-section="business"><a href="#"><span class="no">02</span><span class="txt">BUSINESS DEVELOPMENT</span></a></li>
                <li class="c_link js-scroll-section gs-page-title-menu" data-section="agency"><a href="#"><span class="no">03</span><span class="txt">AGENCY</span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="service_img">
          <div class="c_page-img banner gs-page-first-img">
            <picture>
              <source srcset="https://bizconcier.co.jp/wp2018/wp-content/themes/bizconcier/assets/images/service-main-img-pc.jpg?_=q8g55q" media="(min-width: 768px)"/>
              <source srcset="https://bizconcier.co.jp/wp2018/wp-content/themes/bizconcier/assets/images/service-main-img-pc.jpg?_=q8g55q" media="(max-width: 767px)"/><img class="img-item" src="https://bizconcier.co.jp/wp2018/wp-content/themes/bizconcier/assets/images/service-main-img-pc.jpg?_=q8g55q" alt=""/>
            </picture>
          </div>
        </div>
        <section class="service_consulting c_section-bg" id="consulting">
          <div class="l_container">
            <div class="service_consulting_title gs-service-section1">
              <div class="c_dash-title double section-title"><span class="en">CONSULTING</span><span class="ch">コンサルティング</span></div>
            </div>
            <div class="service_section_describe c_shadow gs-service-section1">
              <div class="img"><img src="https://bizconcier.co.jp/wp2018/wp-content/themes/bizconcier/assets/images/service-consulting-ico.png?_=q8g55q" alt=""/></div>
              <div class="body">
                <p>
                  事業の成長カーブのあらゆる局面において活用が可能なサービスです。</br>弊社コンサルタントが事業と組織の課題を具体化し、各課題に最適なパートナーのアサインにより課題解決を実施します。</br>
                  アドバイザリーからハンズオンでの支援まで幅広いニーズにお応えします。
                </p>
              </div>
            </div>
            <section class="service_consulting_solution">
              <div class="c_double-title gs-service-section1-child1"><span class="en">SOLUTION</span><span class="ch">ソリューション</span></div>
              <div class="service_consulting_solution_content c_shadow gs-service-section1-child1">
                <ul class="item-list">
                  <li class="item">
                    <div class="icon"><img src="https://bizconcier.co.jp/wp2018/wp-content/themes/bizconcier/assets/images/service-solution-ico-service.png?_=q8g55q" alt=""/></div>
                    <div class="txt">SERVICE</div>
                  </li>
                  <li class="item">
                    <div class="icon"><img src="https://bizconcier.co.jp/wp2018/wp-content/themes/bizconcier/assets/images/service-solution-ico-service.png?_=q8g55q" alt=""/></div>
                    <div class="txt">SERVICE</div>
                  </li>
                  <li class="item">
                    <div class="icon"><img src="https://bizconcier.co.jp/wp2018/wp-content/themes/bizconcier/assets/images/service-solution-ico-service.png?_=q8g55q" alt=""/></div>
                    <div class="txt">SERVICE</div>
                  </li>
                  <li class="item">
                    <div class="icon"><img src="https://bizconcier.co.jp/wp2018/wp-content/themes/bizconcier/assets/images/service-solution-ico-service.png?_=q8g55q" alt=""/></div>
                    <div class="txt">SERVICE</div>
                  </li>
                  <li class="item">
                    <div class="icon"><img src="https://bizconcier.co.jp/wp2018/wp-content/themes/bizconcier/assets/images/service-solution-ico-service.png?_=q8g55q" alt=""/></div>
                    <div class="txt">SERVICE</div>
                  </li>
                  <li class="item">
                    <div class="icon"><img src="https://bizconcier.co.jp/wp2018/wp-content/themes/bizconcier/assets/images/service-solution-ico-service.png?_=q8g55q" alt=""/></div>
                    <div class="txt">SERVICE</div>
                  </li>
                  <li class="item">
                    <div class="icon"><img src="https://bizconcier.co.jp/wp2018/wp-content/themes/bizconcier/assets/images/service-solution-ico-service.png?_=q8g55q" alt=""/></div>
                    <div class="txt">SERVICE</div>
                  </li>
                </ul>
              </div>
            </section>
            <section class="service_consulting_partner">
              <div class="c_double-title gs-service-section1-child2"><span class="en">PARTNER</span><span class="ch">ソリューション</span></div>
              <div class="service_consulting_partner_item-list gs-service-section1-child2">
                <article class="service_consulting_partner_item">
                  <div class="img c_shadow"><img src="https://bizconcier.co.jp/wp2018/wp-content/uploads/2019/03/kubo1.jpg" alt=""/></div>
                  <div class="body c_shadow"><span class="c_icon"><span class="c_circle"></span></span>
                    <p class="company">株式会社MOTTO</p>
                    <p class="role">代表取締役</p>
                    <h4 class="name"><span class="name-ch">佐藤 基</span><span class="name-en">MOTOI SATO</span></h4>
                    <ul class="skill-list">
                      <li class="skill"><span class="txt material-icons">stay_primary_portrait</span></li>
                      <li class="skill"><span class="txt material-icons">stay_primary_portrait</span></li>
                      <li class="skill"><span class="txt material-icons">stay_primary_portrait</span></li>
                    </ul>
                  </div>
                </article>
                <article class="service_consulting_partner_item">
                  <div class="img c_shadow"><img src="https://bizconcier.co.jp/wp2018/wp-content/uploads/2019/03/kubo1.jpg" alt=""/></div>
                  <div class="body c_shadow"><span class="c_icon"><span class="c_circle"></span></span>
                    <p class="company">株式会社MOTTO</p>
                    <p class="role">代表取締役</p>
                    <h4 class="name"><span class="name-ch">佐藤 基</span><span class="name-en">MOTOI SATO</span></h4>
                    <ul class="skill-list">
                      <li class="skill"><span class="txt material-icons">stay_primary_portrait</span></li>
                      <li class="skill"><span class="txt material-icons">stay_primary_portrait</span></li>
                      <li class="skill"><span class="txt material-icons">stay_primary_portrait</span></li>
                    </ul>
                  </div>
                </article>
                <article class="service_consulting_partner_item">
                  <div class="img c_shadow"><img src="https://bizconcier.co.jp/wp2018/wp-content/uploads/2019/03/kubo1.jpg" alt=""/></div>
                  <div class="body c_shadow"><span class="c_icon"><span class="c_circle"></span></span>
                    <p class="company">株式会社MOTTO</p>
                    <p class="role">代表取締役</p>
                    <h4 class="name"><span class="name-ch">佐藤 基</span><span class="name-en">MOTOI SATO</span></h4>
                    <ul class="skill-list">
                      <li class="skill"><span class="txt material-icons">stay_primary_portrait</span></li>
                      <li class="skill"><span class="txt material-icons">stay_primary_portrait</span></li>
                      <li class="skill"><span class="txt material-icons">stay_primary_portrait</span></li>
                    </ul>
                  </div>
                </article>
                <article class="service_consulting_partner_item">
                  <div class="img c_shadow"><img src="https://bizconcier.co.jp/wp2018/wp-content/uploads/2019/03/kubo1.jpg" alt=""/></div>
                  <div class="body c_shadow"><span class="c_icon"><span class="c_circle"></span></span>
                    <p class="company">株式会社MOTTO</p>
                    <p class="role">代表取締役</p>
                    <h4 class="name"><span class="name-ch">佐藤 基</span><span class="name-en">MOTOI SATO</span></h4>
                    <ul class="skill-list">
                      <li class="skill"><span class="txt material-icons">stay_primary_portrait</span></li>
                      <li class="skill"><span class="txt material-icons">stay_primary_portrait</span></li>
                      <li class="skill"><span class="txt material-icons">stay_primary_portrait</span></li>
                    </ul>
                  </div>
                </article>
                <article class="service_consulting_partner_item">
                  <div class="img c_shadow"><img src="https://bizconcier.co.jp/wp2018/wp-content/uploads/2019/03/kubo1.jpg" alt=""/></div>
                  <div class="body c_shadow"><span class="c_icon"><span class="c_circle"></span></span>
                    <p class="company">株式会社MOTTO</p>
                    <p class="role">代表取締役</p>
                    <h4 class="name"><span class="name-ch">佐藤 基</span><span class="name-en">MOTOI SATO</span></h4>
                    <ul class="skill-list">
                      <li class="skill"><span class="txt material-icons">stay_primary_portrait</span></li>
                      <li class="skill"><span class="txt material-icons">stay_primary_portrait</span></li>
                      <li class="skill"><span class="txt material-icons">stay_primary_portrait</span></li>
                    </ul>
                  </div>
                </article>
                <article class="service_consulting_partner_item">
                  <div class="img c_shadow"><img src="https://bizconcier.co.jp/wp2018/wp-content/uploads/2019/03/kubo1.jpg" alt=""/></div>
                  <div class="body c_shadow"><span class="c_icon"><span class="c_circle"></span></span>
                    <p class="company">株式会社MOTTO</p>
                    <p class="role">代表取締役</p>
                    <h4 class="name"><span class="name-ch">佐藤 基</span><span class="name-en">MOTOI SATO</span></h4>
                    <ul class="skill-list">
                      <li class="skill"><span class="txt material-icons">stay_primary_portrait</span></li>
                      <li class="skill"><span class="txt material-icons">stay_primary_portrait</span></li>
                      <li class="skill"><span class="txt material-icons">stay_primary_portrait</span></li>
                    </ul>
                  </div>
                </article>
                <article class="service_consulting_partner_item">
                  <div class="img c_shadow"><img src="https://bizconcier.co.jp/wp2018/wp-content/uploads/2019/03/kubo1.jpg" alt=""/></div>
                  <div class="body c_shadow"><span class="c_icon"><span class="c_circle"></span></span>
                    <p class="company">株式会社MOTTO</p>
                    <p class="role">代表取締役</p>
                    <h4 class="name"><span class="name-ch">佐藤 基</span><span class="name-en">MOTOI SATO</span></h4>
                    <ul class="skill-list">
                      <li class="skill"><span class="txt material-icons">stay_primary_portrait</span></li>
                      <li class="skill"><span class="txt material-icons">stay_primary_portrait</span></li>
                      <li class="skill"><span class="txt material-icons">stay_primary_portrait</span></li>
                    </ul>
                  </div>
                </article>
              </div>
            </section>
          </div>
        </section>
        <section class="service_business c_section-bg left" id="business">
          <div class="l_container">
            <div class="service_business_title gs-service-section2">
              <div class="c_dash-title double section-title"><span class="en">BUSINESS DEVELOPMENT</span><span class="ch">企業情報</span></div>
            </div>
            <div class="service_section_describe c_shadow gs-service-section2">
              <div class="img"><img src="https://bizconcier.co.jp/wp2018/wp-content/themes/bizconcier/assets/images/service-consulting-ico.png?_=q8g55q" alt=""/></div>
              <div class="body">
                <p>
                  事業の成長カーブのあらゆる局面において活用が可能なサービスです。</br>弊社コンサルタントが事業と組織の課題を具体化し、各課題に最適なパートナーのアサインにより課題解決を実施します。</br>
                  アドバイザリーからハンズオンでの支援まで幅広いニーズにお応えします。
                </p>
              </div>
            </div>
            <section class="service_business_flow">
              <div class="c_double-title gs-service-section2-child1"><span class="en">FLOW</span><span class="ch">サービスフロー</span></div>
              <div class="service_business_flow_content c_shadow gs-service-section2-child1">
                <div class="c_page-img">
                  <picture>
                    <source srcset="https://bizconcier.co.jp/wp2018/wp-content/themes/bizconcier/assets/images/service-business-flow-figure-pc.png?_=q8g55q" media="(min-width: 768px)"/>
                    <source srcset="https://bizconcier.co.jp/wp2018/wp-content/themes/bizconcier/assets/images/service-business-flow-figure-pc.png?_=q8g55q" media="(max-width: 767px)"/><img class="img-item" src="https://bizconcier.co.jp/wp2018/wp-content/themes/bizconcier/assets/images/service-business-flow-figure-pc.png?_=q8g55q" alt=""/>
                  </picture>
                </div>
              </div>
            </section>
          </div>
        </section>
        <section class="service_agency c_section-bg left" id="agency">
          <div class="l_container">
            <div class="service_agency_title gs-service-section3">
              <div class="c_dash-title double section-title"><span class="en">AGENCY</span><span class="ch">企業情報</span></div>
            </div>
            <div class="service_section_describe c_shadow gs-service-section3">
              <div class="img"><img src="https://bizconcier.co.jp/wp2018/wp-content/themes/bizconcier/assets/images/service-consulting-ico.png?_=q8g55q" alt=""/></div>
              <div class="body">
                <p>
                  事業の成長カーブのあらゆる局面において活用が可能なサービスです。</br>弊社コンサルタントが事業と組織の課題を具体化し、各課題に最適なパートナーのアサインにより課題解決を実施します。</br>
                  アドバイザリーからハンズオンでの支援まで幅広いニーズにお応えします。
                </p>
              </div>
            </div>
            <section class="service_agency_valuechain">
              <div class="c_double-title gs-service-section3-child1"><span class="en">VALUECHAIN</span><span class="ch">バリューチェーン</span></div>
              <div class="service_agency_valuechain_content c_shadow gs-service-section3-child1">
                <div class="c_page-img">
                  <picture>
                    <source srcset="https://bizconcier.co.jp/wp2018/wp-content/themes/bizconcier/assets/images/service-agency-valuechain-figure-pc.png?_=q8g55q" media="(min-width: 768px)"/>
                    <source srcset="https://bizconcier.co.jp/wp2018/wp-content/themes/bizconcier/assets/images/service-agency-valuechain-figure-pc.png?_=q8g55q" media="(max-width: 767px)"/><img class="img-item" src="https://bizconcier.co.jp/wp2018/wp-content/themes/bizconcier/assets/images/service-agency-valuechain-figure-pc.png?_=q8g55q" alt=""/>
                  </picture>
                </div>
              </div>
            </section>
            <section class="service_agency_partner">
              <div class="c_double-title gs-service-section3-child2"><span class="en">PARTNER</span><span class="ch">パートナー</span></div>
              <div class="service_agency_partner_item-list">
                <article class="service_agency_partner_item c_shadow gs-service-section3-child2"><a href="https://by-point-tw.com/" target="_blank">
                    <div class="img"><img src="https://bizconcier.co.jp/wp2018/wp-content/uploads/2018/08/mirrativ.png" alt=""/></div>
                    <h4 class="name">株式会社ミラティブ</h4>
                    <p class="txt">スマホゲームプレイ映像配信を利用したプロモーション</p><span class="link-ico material-icons">launch</span></a></article>
                <article class="service_agency_partner_item c_shadow gs-service-section3-child2"><a href="https://by-point-tw.com/" target="_blank">
                    <div class="img"><img src="https://bizconcier.co.jp/wp2018/wp-content/uploads/2018/08/mirrativ.png" alt=""/></div>
                    <h4 class="name">株式会社ミラティブ</h4>
                    <p class="txt">スマホゲームプレイ映像配信を利用したプロモーション</p><span class="link-ico material-icons">launch</span></a></article>
                <article class="service_agency_partner_item c_shadow gs-service-section3-child2"><a href="https://by-point-tw.com/" target="_blank">
                    <div class="img"><img src="https://bizconcier.co.jp/wp2018/wp-content/uploads/2018/08/mirrativ.png" alt=""/></div>
                    <h4 class="name">株式会社ミラティブ</h4>
                    <p class="txt">スマホゲームプレイ映像配信を利用したプロモーション</p><span class="link-ico material-icons">launch</span></a></article>
                <article class="service_agency_partner_item c_shadow gs-service-section3-child2"><a href="https://by-point-tw.com/" target="_blank">
                    <div class="img"><img src="https://bizconcier.co.jp/wp2018/wp-content/uploads/2018/08/mirrativ.png" alt=""/></div>
                    <h4 class="name">株式会社ミラティブ</h4>
                    <p class="txt">スマホゲームプレイ映像配信を利用したプロモーション</p><span class="link-ico material-icons">launch</span></a></article>
              </div>
            </section>
          </div>
        </section>
      </div>
    </main>
    <footer class="footer">
      <div class="footer_top js-scrollTop"><a href="#"><span class="txt">BACK TO TOP</span><span class="c_icon"><span class="c_circle"></span></span></a></div>
      <section class="footer_news">
        <div class="news-first">
          <h2 class="title">LATEST NEWS</h2>
          <div class="news-title">
            <time>2020-01-15</time><span>PRESS RELEASE</span>
          </div>
        </div>
        <div class="news-link"><a href="../news/news.html">竹書房とBizconcier、デジタルコンテンツ事業の合弁会社を設立</a></div>
        <div class="more-btn"><a href="../news/news.html"><span class="text">MORE</span><span class="c_icon"><span class="c_circle"></span></span></a></div>
      </section>
      <nav>
        <ul class="footer_nav">
          <li class="footer_nav_item js-menu-home"><a href="../index/index.html">home</a></li>
          <li class="footer_nav_item js-menu-about"><a href="../about/about.html">ABOUT US</a></li>
          <li class="footer_nav_item js-menu-service"><a href="../service/service.html">SERVICE</a></li>
          <li class="footer_nav_item js-menu-news"><a href="../news/news.html">NEWS</a></li>
          <li class="footer_nav_item js-menu-contact"><a href="../contact/contact.html">CONTACT</a></li>
        </ul>
      </nav>
      <div class="footer_logo"><a href="#"> <img src="../../assets/images/logo-icon.svg" alt=""/>
          <p>百典創意行銷</p></a></div>
      <p class="footer_address">
         桃園市中壢區龍勇路42巷8弄2號</p><small class="footer_copyright">Copyright @Bizconcier All Rights Reserved.</small>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../assets/javascripts/all.js"></script>
  </body>
</html>